.MyProfile img {
    max-width: 300px;
    width: 100%;
    align-items: center;
    min-width: 200px;
    border-radius: 50%;



}

.Selection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0%;
}

.All {
    display: flex;
    flex-direction: row;
}



.AboutMe {
    background-color: rgb(255, 255, 255);
    color: #572488;
}

.AboutMeHead {
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #ffffff;
    background-color: #ffffff;
    text-align: center;
    color: #3c8bbb;
}

.Diplome section {
    padding: 1%;
}

.quota {
    border-top: solid;
    border-bottom: solid;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    font-size: large;
    background-color: rgb(255, 255, 255);

}


.MyProfile {

    padding: 0;
    width: 95%;
    margin: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
}

.MyProfile:hover {
    animation: onProfile;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes onProfile {
    from {
        background-color: rgb(255, 255, 255);

    }

    to {
        background-color: #ffffff;

        transform: scale(1.05);

    }
}

body {
    margin: 0;
    padding: 0;
}

.IdentityCard {
    padding: 3%;
    margin: 3%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: larger;
}

.myImagePlusQuote {
    width: 100%;
}

.myImagePlusQuote quote {
    font-style: italic;
    font-size: large;
    width: 70%;
}

.Quality {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 95%;
    margin: 2.5%;


}

.Quality ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}



.IdentityCard:hover {
    animation: onProfile;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.AboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;


}


.PictureAndId {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}




.Competences {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

}

.Competences h2 {
    background-color: rgb(6, 14, 35);
    border-bottom: solid;
    border-top: solid;

    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.TwoByTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

.C {

    width: 96%;
    padding: 2%;

}

.C:hover {
    animation: SkillsAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes SkillsAnimation {
    from {

        background-color: rgb(42, 42, 42);
        color: rgb(255, 255, 255)
    }

    to {

        background-color: rgb(0, 0, 0);
        color: white;
        transform: scale(1.05);
    }
}

.Conteneur {
    background-color: #ddd;
    width: 90%;
    margin: 2%;

}

.HTML {
    width: 60%;
    background-color: #04AA6D;
}

.Compe {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;

}

.CSS {
    width: 45%;
    background-color: #ce0909;
}

.SQL {
    width: 50%;
    background-color: #3514b0;
}

.JAVASCRIPT {

    width: 20%;
    background-color: #ff9a01;

}

.PYTHON {
    width: 45%;
    background-color: rgb(50, 134, 155);
}

.JAVA {
    width: 55%;
    background-color: rgb(252, 9, 199);
}


.SCRATCH {
    width: 100%;
    background-color: rgb(216, 140, 140);
}

.BASH {
    width: 35%;
    background-color: rgb(84, 13, 112);
}

.appear {
    text-align: center;
    padding: 10px;
    display: none;
}



.appearScratch {

    display: none;
}

.appearTel {
    display: none;
}

button {
    padding: 2%;
    margin: 10%;
}

@media only screen and (min-width: 800px) {
    .C:hover .appear {
        display: block;
    }

    .C:hover .appearScratch {
        display: initial;

    }

    .C:hover .Compe {
        animation: AjustSize;
        animation-duration: 4s;

    }
}

@keyframes AjustSize {
    from {
        width: 0%;
    }

}

button a {
    color: unset;
}




@media only screen and (max-width: 800px) {
    .MyProfile img {
        max-width: 200px;
        width: 70%;
        height: 70%;
    }

    .All {
        display: flex;
        flex-direction: column;
    }

    .appear {

        display: none;


    }

    .appearTel {
        color: #55beff;
        display: block;
        font-size: medium;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 2px;
        font-family: sans-serif;
    }

    .Competences a {
        color: #a2d9fb;

    }

    .Competences a:hover {
        color: #ebf6fd;

    }


    .TwoByTwo {
        flex-direction: column;
    }

    .C:hover {
        animation: none;
    }



    .C:focus {

        animation: SkillsAnimation;
        animation-duration: 2s;
        animation-fill-mode: forwards;

    }

    .PictureAndId {

        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .Quality {
        width: 95%;
        align-self: center;
    }

    .MyProfile {


        padding: 0;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        background-color: rgb(0, 0, 0);

    }






}