.MyProfile img {
    max-width: 200px;
    width: 70%;
    padding: 15%;
}



.AboutMe {
    background-color: black;
    color: #1590c3;
}

.AboutMeHead {
    width: 98%;
    margin: 0%;
    padding: 1%;
    background-color: #171639;
    text-align: center;
    color: #3c8bbb;
}

.quota {
    border-top: solid;
    border-bottom: solid;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    padding-bottom: 5%;
    font-size: large;
    background-color: rgb(6, 14, 35);

}


.MyProfile {


    padding: 0;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);

}

.MyProfile:hover {
    animation: onProfile;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes onProfile {
    from {
        background-color: rgb(0, 0, 0);

    }

    to {
        background-color: #020445;

        transform: scale(1.05);

    }
}

body {
    margin: 0;
    padding: 0;
}

.IdentityCard {
    padding: 3%;
    margin: 3%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Quality {
    grid-column: 2/span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Quality ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}



.Quality:hover {
    animation: onProfile;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.AboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;


}


.PictureAndId {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.All {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 97%;
    margin: 1.5%;


}


.Competences {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.TwoByTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

.C {

    width: 96%;
    padding: 2%;

}

.C:hover {
    animation: SkillsAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes SkillsAnimation {
    from {

        background-color: rgb(42, 42, 42);
        color: rgb(255, 255, 255)
    }

    to {

        background-color: rgb(0, 0, 0);
        color: white;
        transform: scale(1.05);
    }
}

.Conteneur {
    background-color: #ddd;
    width: 90%;
    margin: 2%;
}

.HTML {
    width: 60%;
    background-color: #04AA6D;
}

.Compe {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;

}

.CSS {
    width: 45%;
    background-color: #ce0909;
}

.SQL {
    width: 50%;
    background-color: #3514b0;
}

.JAVASCRIPT {

    width: 20%;
    background-color: #ff9a01;

}

.PYTHON {
    width: 45%;
    background-color: rgb(50, 134, 155);
}

.JAVA {
    width: 55%;
    background-color: rgb(252, 9, 199);
}


.SCRATCH {
    width: 100%;
    background-color: rgb(216, 140, 140);
}

.BASH {
    width: 35%;
    background-color: rgb(84, 13, 112);
}

.appear {
    padding: 10px;
    display: none;
}



.appearScratch {

    display: none;
}

@media only screen and (min-width: 800px) {
    .C:hover .appear {
        display: block;
    }

    .C:hover .appearScratch {
        display: initial;

    }

    .C:hover .Compe {
        animation: AjustSize;
        animation-duration: 4s;

    }
}

@keyframes AjustSize {
    from {
        width: 0%;
    }

}

a:visited {
    color: unset;
}

@media only screen and (max-width: 800px) {
    .MyProfile img {
        max-width: 200px;
        width: 70%;
        height: 70%;
        padding: 15%;
    }

    .All {
        display: flex;
        flex-direction: column;
    }

    .appear {
        display: block;
        font-size: xx-small;
    }

    .TwoByTwo {
        flex-direction: column;
    }

    .C:hover {
        animation: none;
    }



    .C:focus {

        animation: SkillsAnimation;
        animation-duration: 2s;
        animation-fill-mode: forwards;

    }

    .PictureAndId {
        width: 10%;
        display: flex;
        flex-direction: column;
    }

    .MyProfile {


        padding: 0;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(0, 0, 0);

    }



}