footer img{
    
    max-width: 45px;
}

footer{
    font-size: xx-large;
    margin: 0;
    padding: 0;
    background-color: rgb(14,14,55);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

footer section aside{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows:45px;
    grid-gap: 30px;
    
    
}

footer section {
    display: flex;
    align-items: center;
    
}
