footer img {

    max-width: 45px;
}

footer {
    font-size: xx-large;
    margin: 0;
    padding: 0;
    background-color: rgb(14, 14, 55);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer section aside {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 100%;
    grid-gap: 10%;


}

footer section {
    display: flex;
    align-items: center;
    width: 100%;

}