footer img {

    width: 40px;
}

footer {
    font-size: xx-large;
    margin: 0;
    padding: 0;
    background-color: rgb(14, 14, 55);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer section aside {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 100%;
    grid-gap: 10%;


}

footer section {
    display: flex;
    align-items: center;
    width: 100%;

}

@media only screen and (max-width: 800px) {
    footer img {

        max-width: 30px;

    }

    footer {
        font-size: x-small;
        margin: 0;
        padding: 0;
        background-color: rgb(14, 14, 55);
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 400px) {
    footer img {

        max-width: 10px;

    }

    footer {
        font-size: xx-small;
        margin: 0;
        padding: 0;
        background-color: rgb(14, 14, 55);
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}