.projectContainer {
    font-size: large;
    display: flex;
    flex-direction: column;
    /*text-align: center;*/
    border-bottom: solid;
    border-color: gray;
    margin: 1%;
    padding: 1%;


}

body {
    background-color: #000000;
    color: #3c8bbb;
}


.projectContainer>.header {
    text-align: center;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


.projectContainer:hover {
    animation-name: zoomText;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

@keyframes zoomText {
    from {}

    to {
        transform: scale(1.05);
        z-index: 2;
        background-color: #020445;
        color: #ffffff;
    }



}




.inline {
    /*background-color: aquamarine;*/
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    align-self: center;


}

.header {

    color: #3c8bbb;
}


.inline>img {
    width: 40%;
    height: 50%;
    padding: 5%;

}


body {
    margin: 0px;
    padding: 0px;
}


.active {
    background-color: rgb(14, 14, 55);
}

.gridItem section {
    align-items: center;
    justify-content: center;
}

.youtube {

    width: 100%;
    height: 400px;
}

.youtube iframe {
    width: 100%;
    height: 100%;
}

.Year {
    display: flex;
    flex-direction: column;
    padding: 0.5%;
}


.gridItem {

    text-align: center;
    padding: 20px;
}



.SelectButP ul {

    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3c8bbb;
}

.SelectButP ul li {
    float: left;
}

.SelectButP ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.SelectButP ul li a:hover {
    background-color: rgb(45, 97, 130);
    color: white;
}

.Head {}

.SelectButP {
    margin: 1%;
    padding: 1%;
    width: 96%;

}



.ButProject {}

.exemple ul {

    list-style-type: disclosure-closed;
    padding: 1%;
    text-align: start;
    justify-content: center;
}




.inlineCapacity {
    display: flex;
    width: 96%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    flex-direction: row;
    justify-content: start;
    text-align: center;
    text-align-last: start;


}

.inlineCapacity h4 {
    text-align: center;

}

/*.Competences{
    grid-column: 1/span 1;
    
}

.PointsForts{
    grid-column: 1/span 1;
    
}*/



/*.exemple:hover {
    animation-name: ClickOnExemple;
    animation-duration: 3s;
    animation-fill-mode: both;
}*/



@keyframes ClickOnExemple {
    from {}

    to {

        transform: scale(1.05);
    }


}



.gitLink {
    background-color: #333;
    color: #ffffff;
    border-color: black;
    border: solid;
    border-radius: 80;
    height: 30px;



}

.gitLink:hover {
    background-color: #555;
    color: white;
    border-color: black;
    animation-name: ClickOngitButton;
    animation-duration: 8s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes ClickOngitButton {
    0% {
        background-color: aqua;
        color: #000000;
        border-color: black;
    }

    15% {
        background-color: rgb(12, 60, 91);
        color: #ffffff;
        border-color: black;
    }

    30% {
        background-color: rgb(123, 74, 167);
        color: #ffffff;
        border-color: black;
    }

    45% {
        background-color: rgb(41, 168, 136);
        color: rgb(0, 0, 0)37;
        border-color: black;
    }

    60% {
        background-color: rgb(0, 0, 0);
        color: #ffffff;
        border-color: black;
    }

    75% {
        background-color: rgb(255, 247, 0);
        color: #000000;
        border-color: black;
    }

    90% {
        background-color: rgba(255, 0, 0, 0.539);
        color: #ffffff;
        border-color: black;
    }

    100% {
        background-color: rgba(0, 255, 55, 0.491);
        color: #000000;
        border-color: black;
    }
}

.gitLink:visited {
    color: white;
}



@media only screen and (max-width: 800px) {

    * p {
        font-size: medium;
    }

    .inline {
        font-size: 90%;

    }


    .inline {
        max-width: 350px;
        flex-direction: column;
    }

    .inline>img {
        width: 70%;
        height: 70%;
        padding: 10%;

    }

    .inlineCapacity {


        grid-template-columns: 100%;
        text-align: center;
        justify-content: center;

    }

    .navi {
        display: none;
    }

    .youtube {

        width: 100%;
        height: 100%;
    }

    .youtube iframe {
        width: 60%;
        height: 100%;
    }
}