body
{
background-color:white;
margin: 0% auto;
display:flex;
flex-direction: column;

}

header
{
background-color:red;
display:flex;
justify-content: center;
align-items:center;
font-size: 1.8em;
color:white;
margin:  0% 0% 5% 0%;
}

section
{
/*background-color:green;*/	
display:flex;
flex-direction: column;
justify-content: center;
align-items:center;

}

article
{

/*background-color:blue;*/	
display:flex;
flex-direction: column;
justify-content:center;
align-items: center;
width:50%;


}
aside
{
display:flex;
flex-direction: row;
font-size: 1.5em;
align-items:center;
background-color: grey;
}

h5
{
margin:2% 7%;	
}
img
{
margin : 4% 0% ;	
}

footer
{
margin: 10% 0% 0% 0%;
display:flex;
flex-direction:row;
background-color: black;
color: white;
}

li
{
color: red;	
}

a
{
color: white;	
font-size: 1.2em;
}